@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Tinos', serif;
}
html,
body{
  display: flex;
  justify-content: center;
}
.container h1{
  text-align: center;
  font-size: 30px;
}
.loading-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: loading-bar2 3s 0s linear both;
}
.loading-bar span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: loading-bar 1s 2s linear infinite;
  margin-right: 12px;
}
.loading-bar span:nth-child(1) {
  background-color: crimson;
  animation-delay: 0s;
}
.loading-bar span:nth-child(2) {
  background-color: dodgerblue;
  animation-delay: 0.2s;
}
.loading-bar span:nth-child(3) {
  background-color: yellowgreen;
  animation-delay: 0.4s;
}
.loading-bar h2 {
  margin: 0;
  font-size: 30px;
}
.footer {
  border-top: 1px solid #ddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.footer__icon__container {
  display: flex;
  margin-bottom: 10px;
}
.footer__icon {
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
.footer__icon:hover{
  transform: scale(1.15);
}
.footer__icon:last-child{
  margin-right: 0;
}
.footer__icon img{
  width: 45px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.footer__text {
  font-size: 16px;
  color: #444444;
  font-weight: bold;
}

@keyframes loading-bar {
  0% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes loading-bar2 {
  0% {
    margin-left: -30px;
    opacity: 0;
  }
  30% {
    margin-left: 0px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
