.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 100%;
}
.movies .movie {
  width: 23.5%;
  height: 260px;
  background-color: white;
  margin-bottom: 50px;
  display: flex;
  font-weight: 300;
  padding: 20px;
  border-radius: 10px;
  color: #adaeb9;
  box-shadow: 0 13px 27px 0 rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  cursor: pointer;
  transition: all 0.2s ease;
}
.movies .movie:hover{
  transform: scale(1.03);
}
.movie img {
  position: relative;
  max-width: 150px;
  width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movie__data{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
.movie .movie__title {
  margin: 0px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: block;
}
.movie .movie__year{
  margin: 0px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: block;
}
.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 15px;
}
.movie .movie__genres li{
  color: #adaeb9;
  font-weight: 300; 
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  color: crimson;
}
.movie .movie__rating{
  margin-top: 5px;
  color:gray;
}
.movie .movie__rating i{
  margin-right: 5px;
  color: gold;
}
.movie .movie__summary{
  color: gray;
}